.about-us-sec .about-img-sec {
    overflow: hidden;
}

.about-us-sec .about-img-sec img {
    padding: 35px 0 35px 35px;
}

.about-us-sec .about-img-sec:before {
    content: "";
    background: #ff8500;
    display: block;
    height: 100%;
    z-index: -1;
    position: absolute;
    width: 100%;
    left: -35px;
}

.about-us-sec .about-content-wrapper {
    padding-left: 50px;
}

.about-us-sec .about-content-wrapper .section-header {
    padding-bottom: 30px;
}

.text-orange {
    color: #ff8500;
}

.no-margin {
    margin: 0;
}

.text-left {
    text-align: left!important;
}

.section-padding {
    padding: 80px 0;
}

.text-dark-grey {
    color: #6c6d72;
}

.section-padding span.line-grey {
    background: #eee;
    width: 50px;
    height: 2px;
}

.section-padding span.line-orange {
    background: #ff8500;
    width: 50px;
    height: 2px;
}

.section-header span.line-grey {
    background: #eee;
    width: 50px;
    height: 2px;
}

.section-header span {
    display: inline-block;
    margin: 15px 0 10px;
}