<section class="section-padding about-us-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about-img-sec p-relative">
                    <img class="img-fluid full-width" src="/assets/autofocus.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 align-self-center">
                <div class="about-content-wrapper">
                    <div class="section-header no-margin">
                        <div class="text-wrapper text-left">
                            <h6 class="text-orange fw-400 mb-6">ABOUT THE DREAM CARS</h6>
                            <h3 class="fw-500 no-margin">We are the best car service provide in the world of automotive
                            </h3>
                            <h3 class="fw-500 no-margin">Get the car of your dreams in a short time and with the best
                                service in the world
                            </h3>
                            <span class="line-grey"></span>
                            <span class="line-orange"></span>
                            <span class="line-grey"></span>
                            <p class="text-dark-grey mt-7">
                                A masterful combination of style, power, sporty handling and comfort. A masterful
                                combination of style, power, sporty handling and comfort.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>