
    <footer>
        <div class="contenedor">
            <div class="copy">
                <p>Designed | Powered by Angular</p>
            </div>
            <div class="redes">
                <ul>
                    <li><i class="fab fa-facebook-f"></i></li>
                    <li><i class="fab fa-twitter"></i></li>
                    <li><i class="fab fa-google-plus-g"></i></li>
                    <li><i class="fas fa-rss"></i></li>
                </ul>
            </div>
        </div>
    </footer>